.wrapper-home {
    /* background-color: white; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: 0.3s;
}
.wrapper-home-white {
    opacity: 0;
    transition: 0.3s;
}

.user-info {
    width: 61.8%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    border-right: 1px solid black;
    justify-content: center;
}

.user-info-element {
    /* text-align: center; */
}

.menu {
    width: 38.2%;
    height: 100vh;
    float: right;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.menu-element {
    width: 100%;
    height: 33.33%;
    border-bottom: 1px solid black;
    /* display: block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-element:last-child {
    border-bottom: visible;
}

.profile-picture-home {
    height: 40%;

    /* height: 200px; */
    width: 60%;
}

.page-name {
    width: fit-content;
    align-self: center;
}

.page-link {
    display: contents;
}